body{
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #FF5733;
}

span{
    color: #FFE633;
}

#skills{
    background-color: #FF5733;
}

section{
    padding-top: 5rem;
}